<form id="edit-form">
    <div class="row py-2">
        <div class="col">
            <input class="form-control" placeholder="Alias name" required type="text" name="source">
        </div>
        <div class="col-6">
            <input class="form-control" placeholder="Target URL or alias" required type="text" name="target">
        </div>
        <div class="col">
            <input id="is-alias-checkbox" class="form-check-input" required type="checkbox" value="false">
            <label for="is-alias-checkbox" class="form-check-label">Is alias?</label>
        </div>
        <div class="col">
            <button class="btn btn-primary form-control" hx-put="/go/links/{{ id }}" hx-trigger="click"
                hx-target="#links-content" hx-swap="beforeend">Add</button>
        </div>
    </div>
</form>