<form id="add-form">
    <div class="d-flex flex-row">
        <div class="p-1">
            <input class="form-control" placeholder="Alias name" required type="text" name="source">
        </div>
        <div class="flex-grow-1 p-1">
            <input id="search-input" class="form-control" placeholder="Target URL" required type="url" name="target"">
        </div>
        <div class=" p-1 d-flex flex-col">
            <div class="form-check form-switch my-auto">
                <input id="is-alias-switch" class="form-check-input" required type="checkbox" value="false"
                    onchange="syncSearchboxAndCheckbox()">
                <label for="is-alias-switch" class="form-check-label">Alias?</label>
            </div>
        </div>
        <div class="p-1">
            <button class="btn btn-primary form-control" hx-post="/go/links" hx-trigger="click"
                hx-target="#links-content" hx-swap="beforeend">Add</button>
        </div>
    </div>
</form>