<div id="link-{{ link.id }}" class="row py-1">
    <div id="link-{{ link.id }}-card" class="card p-0">
        <div class="card-body d-flex flex-row p-1">
            <div id="link-{{ link.id }}-source" class="col-2 p-1 my-auto">
                <span>{{ link.source }}</span>
            </div>
            <div id="link-{{ link.id }}-target" class="p-1 flex-grow-1 my-auto">
                <span>{{ link.target }}</span>
            </div>
            <div class="p-1">
                <a id="link-{{ link.id }}-go" href="{{ link.target }}" class="btn btn-sm btn-primary text-nowrap">
                    🌐 Go!
                </a>
            </div>
            <div class="p-1">
                <button id="link-{{ link.id }}-edit" class="btn btn-sm btn-success text-nowrap"
                    hx-get="/go/link/{{link.id}}?editable=true" hx-trigger="click" hx-target="#link-{{ link.id }}"
                    hx-swap="outerHTML">
                    ✏ Edit
                </button>
            </div>
            <div class="p-1">
                <button id="link-{{ link.id }}-delete" class="btn btn-sm btn-danger text-nowrap"
                    hx-delete="/go/link/{{link.id}}" hx-trigger="click" hx-target="#link-{{ link.id }}-card"
                    hx-swap="delete" hx-confirm="Are you sure you wish to delete this alias?">
                    🗑 Delete
                </button>
            </div>
        </div>
    </div>
</div>