{% extends "base.html" %}

{% block content %}
<div class="container px-5">
    <h1>Go!</h1>
    <form id="add-form">
        <div class="row py-2">
            <div class="col">
                <input class="" placeholder="Alias name" required type="text" name="source">
            </div>
            <div class="col">
                <input class="" placeholder="Target URL or alias" required type="text" name="target">
            </div>
            <div class="col">
                <input id="is-alias-checkbox" class="form-check-input" required type="checkbox" value="false">
                <label for="is-alias-checkbox" class="form-check-label">Is alias?</label>
            </div>
            <div class="col">
                <button class="btn btn-primary" hx-post="/go/links" hx-trigger="click" hx-target="#links-content"
                    hx-swap="beforeend">Add</button>
            </div>
        </div>
    </form>
    <div id="links" hx-get="/go/links" hx-target="this" hx-trigger="load" hx-swap="outerHTML">
        Loading...
    </div>
</div>
{% endblock %}